<div fxLayout="column">
    <div fxLayoutAlign="center center" fxFlex="242px">
        <img src="../../../../assets/images/brands/m-logo.svg" class="brand-logo-main">
    </div>
    <div class="brand-grid-footer" fxLayout="column" fxLayoutAlign="center start" fxFlex="131px">
        <div class="brand-footer-logo" fxLayout="row" fxLayoutGap="24px">
            <div class="brand-footer-logo-img" fxFlex="63px" fxLayout="column" fxLayoutAlign="center center" style="background: #F41CB2;">
                <img src="../../../../assets/images/brands/m-logo.svg">
            </div>
            <div fxFlex="auto" fxLayout="column" fxLayoutAlign="start start" >
                <h3 class="brand-nm">Mc Donalds</h3>
                <h4>Save upto 90%</h4>
            </div>
        </div>
    </div>
</div>