.brand-logo-main {
    width: 132px;
    height: 109px;
    // padding-top: 78.9px;
    flex-shrink: 0;
}
.brand-grid-footer {
    width: 375px;
    height: 131px;
    border-radius: 24px;
    background: #FFF;
    // margin-top: 56.1px;
    flex-shrink: 0;
    width: 100%;
        
}
.brand-footer-logo {
    width: 100%;
    padding: 0 36px;
        &-img {
        max-width: 63px;
        min-width: 63px;
        width: 63px;
        height: 63px;
        max-height: 63px;
        min-height: 63px;
        border-radius: 50%;
        overflow: hidden;
        & img {
            max-height: 31px;
            max-width: 100%;
        }
    }
    & h3,  & h4 {
        text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    }
    & h3 {
        color: #343434;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -1.1px;
        margin: 0;
    }
    & h4 {
        color: #FE3152;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.9px;
        margin: 0;
    }
}