$qdo365-app-color: #FE3152;
$qdo365-app-color-primary: #FF7A22;
// $qdo365-color-blue: #196ae5;
$qdo365-color-blue: #196ae5;
$qdo365-color-black: #000000;
$qdo365-color-footer-black: #111111;
$qdo365-color-white: #ffffff;
$qdo365-color-friargray: #82807a;
$qdo365-color-gray: #a2b2b9;
$qdo365-color-gray-shadow: #3333334f;
$qdo365-color-green: #18cb64;
$qdo365-color-red: #ed1c24;
$qdo365-inactive-color: #9F9F9F;
$qdo365-color-orange: #F59D55;
$font-size-base: 1rem;