<div class="coupon">
  <!-- second -->
    <div class="left" fxLayout="row" fxLayoutAlign="center center">
        <img src="../../../../assets/images/home/deal/shoes.png" height=""/>
    </div>
    <div class="right" fxLayout="column" >
      
      <div class="name">Shoes.com</div>
      <div class="sub-name">Online | Fashion & Apparel</div>
      <div class="offer" fxLayout="row" fxLayoutGap="8px">
        <span class="offer-one">Save</span> 
        <span class="offer-two">Upto</span>
        <span class="offer-three">20%</span>
      </div>
      <div fxLayout="row" fxLayoutGap="8px" fxLayoutAlign="start center">
        <div class="view-offers">View Offers</div>
        <div><img src="../../../../assets/images/home/deal/arrow.svg" height=""/></div>
      </div>
    </div>
  </div>