<div class="login-inputs" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="12px">
    <div class="welcome primary">Tell us more about you!</div>
    <div class="access">Sharing is caring</div>
    
    
    <div class="input-section mt-2" fxLayout="column" fxLayoutGap="8px">
        <div class="label-name">I am...</div>
        <div fxLayout="row" class="" fxLayoutGap="8px">
            <div class="input-area" fxFlex="33.333%" fxLayoutAlign="center center" >
                <a class="">Male</a>
            </div>
            <div class="input-area" fxFlex="33.333%" fxLayoutAlign="center center" >
                <a class="">FeMale</a>
            </div>
            <div class="input-area" fxFlex="33.333%" fxLayoutAlign="center center" >
                <a class="">Others</a>
            </div>
        </div>
    </div>
    <div class="input-section mt-1" fxLayout="column" fxLayoutGap="8px">
        <div class="label-name">Select your Age Range</div>
        <div fxLayout="row" class="" fxLayoutGap="8px">
            <div class="input-area" fxFlex="33.333%" fxLayoutAlign="center center" >
                <a class="">18 - 25</a>
            </div>
            <div class="input-area" fxFlex="33.333%" fxLayoutAlign="center center" >
                <a class="">25 - 40</a>
            </div>
            <div class="input-area" fxFlex="33.333%" fxLayoutAlign="center center" >
                <a class="">40+</a>
            </div>
        </div>
    </div>
    <div class="input-section mt-1" fxLayout="column" fxLayoutGap="8px">
        <div class="label-name">Location</div>
        <div class="input-area" fxLayout="row" fxLayoutAlign="start center" >
            <input placeholder="Select your location">
        </div>
    </div>
    <div class="mt-2 button" fxLayout="column" fxLayoutGap="8px">
        <button class="btn fill w-100">Next</button>
    </div>
  </div>