@mixin transform-rotate ($transform: -45deg) {
    -webkit-transform: rotate($transform);
    -moz-transform: rotate($transform);
    -o-transform: rotate($transform);
    -ms-transform: rotate($transform);
    transform: rotate($transform);
}