<div class="terms">
    <div class="title" fxLayout="row" fxLayoutAlign="space-between center">
        <h2 class="no-padding" mat-dialog-title>Payment Terms for QDO Merchant Platform </h2>
        <button mat-dialog-close class="btn small orange">Close</button>
    </div>
    <mat-dialog-content class="mat-typography">

        <main>
            <section>
                <h2 class="no-padding">1. QDO STARTER Package: </h2>
                <ul>
                    <li>Package Name: QDO STARTER </li><li>Package Fee: FREE</li><li>Payment Terms: The QDO STARTER package is available for FREE.</li>
                </ul>
            </section>
            <section>
                <h2 class="no-padding">2. QDO PRO Package: </h2>
                <ul>
                    <li>Package Name: QDO PRO</li><li>Package Fee: ₹849 per month</li><li>Payment Terms: The package fee is payable as one time fees in advance.</li><li>Payment Method: One time payments can be made using online payment methods, including UPI like    Phonepay,Paytm,Gpay & net banking.</li><li>    Initial Payment: The payment is due upon registering to the platform and selection of the package. </li>
                    <li>Upgrade Payments: Subsequent if the user/merchant wants an upgrade to the current package can opt for an upgrade option and proceed to payment.</li>
                </ul>
            </section>
            <section>
                <h2 class="no-padding">3. QDO PRO PLUS Package: </h2>
                <ul>
                    <li>Package Name: QDO PRO PLUS</li>
                    <li>Package Fee: ₹4,199 per month</li>
                    <li>Payment Terms: The package fee is payable on a monthly basis in advance.
                        </li>
                        <li>Payment Method: One time payments can be made using online payment methods, including UPI like Phonepay,Paytm,Gpay &  net banking..
                            </li>
                            <li>Initial Payment: The payment is due upon registering to the platform and selection of the package.
                                </li>
                                <li>Upgrade Payments: Subsequent  if the user/merchant wants an upgrade to the current package can opt for an upgrade option and proceed to payment.
                                </li>
                </ul>
            </section>
            <section>
                <h2 >Late Payment and Non-Payment:
                </h2>
                <p>Any late or non-payment may result in the suspension or termination of the services provided by the QDO Merchant Platform.
                </p>
                <h2 >Refunds and Cancellations:
                </h2>
                <p>Any late or non-payment may result in the suspension or termination of the services provided by the QDO Merchant Platform.
                </p>
                <h2 >Agreement and Acceptance:

                </h2>
                <p>Package fees are non-refundable once the services have been activated.
                    Cancellations must be made in accordance with the cancellation policy outlined in the agreement.
                    
                </p>
                <h2 >Grievance officer Details : 

                </h2>
                <p>In case of cancellation,refund or any other issues related to the payment merchant can directly reach out to our support person by emailing on this email address - <a href="mailto:support@qdo365.com" style="color: blue; cursor: pointer;">support@qdo365.com</a> and response time is 24 to 48 hours.

                </p>
            </section>
            <p><strong>Note :</strong> Please note that the payment terms mentioned above are subject to change based on QDO's policies and client agreements. It's essential to provide clear and accurate payment terms in your official documentation to ensure transparency and avoid any misunderstandings.All the pricing mentioned on our website is per month basis.
            </p>
            
        </main>
    </mat-dialog-content>

</div>