@import "../../../../assets/scss/variables.scss";
@import "../../../../assets/scss/mixins/btn.scss";
@import "../../../../assets/scss/scrollbar.scss";
@import "../../../../assets/scss/mixins/breakpoint.scss";
.customer-ui {
    width: 100%;
    background-color: #fff;
    @include breakpoint("xs") {
        max-height: 100vh;
        overflow: auto;
    }
    @include breakpoint("sm") {
        max-height: 100vh;
        overflow: auto;
    }
    & .search {
        width: 100%;
        max-width: 488px;
        background-color: #fff;
        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15);
        padding: 16px 24px;
        & input {
            outline: none;
            border: 0;
            width: 100%;
        }
        &-icon{
            width: 44px;
            height: 44px;
            border-radius: 50%;
            background: #18A0FB;

        }
    }
    & .earn {
        color: #343434;
        font-size: 55px;
        font-style: normal;
        font-weight: 700;
        line-height: 64px;
        letter-spacing: -2.75px;
        @include breakpoint("xs") {
            font-size: 24px;
            line-height: 24px;
            letter-spacing: -1.2px;
        }
        @include breakpoint("sm") {
            font-size: 24px;
            line-height: 24px;
            letter-spacing: -1.2px;
        }
        &.reward {
            color: #FE3152;
        }
    }
    & .banner {
        background: var(--pink-linear, linear-gradient(180deg, #FFCAD5 0%, rgba(255, 217, 224, 0.00) 122.12%));
        @include breakpoint("xs") {
            padding: 24px 0;
        }
        @include breakpoint("sm") {
            padding: 24px 0;
        }
        @include breakpoint("md-min") {
            min-height: 664px;
            max-height: 664px;
        }
        &-inner {
            max-width: 1400px;
            margin: auto;
            width: 100%
            // height: 526px;
        }
        &-img {
            width: 100%;
            @include breakpoint("xs") {
                width: 90%;
                padding-top: 16px;
            }
            @include breakpoint("sm") {
                width: 90%;
                padding-top: 16px;
            }
            & img {
                max-width: 100%;
            }
        }
        &-icon {
            position: relative;
            & svg {
                width: 64px;
            }
            &.left {
                left: 32px;
            }
            &.right {
                right:32px;
            }
        }
    }
    & .marquee-section {
        max-width: 100%;
        overflow: hidden;
        @include breakpoint("xs") {
            min-height: 74px;
        }
        @include breakpoint("sm") {
            min-height: 74px;
        }
        & .marquee {
            &-scroll {
                height: 90px;
                @include breakpoint("xs") {
                    height: 30px;
                }
                @include breakpoint("sm") {
                    height: 30px;
                }
            }
            &.black {
                height: 121px;
                @include breakpoint("xs") {
                    height: 40px;
                }
                @include breakpoint("sm") {
                    height: 40px;
                }
                & marquee { 
                    transform: rotateY(0deg) rotate(359deg);
                    background-color: #000;
                }
            }
            &.red {
                background: #FE3152;
                z-index: 99;
            }
            & marquee {
                height: 90px;
                @include breakpoint("xs") {
                    height: 30px;
                }
                @include breakpoint("sm") {
                    height: 30px;
                }
                & span {
                    color: #FFF;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    @include breakpoint("xs") {
                        font-size: 16px;
                    }
                    @include breakpoint("sm") {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    & .prize-section {
        width: 100%;
        max-width: 1072px;
        margin: 75px auto 0px auto;
        @include breakpoint("xs") {
            padding: 0 16px;
            max-width: calc(100% - 32px);
            margin: 50px auto 0px auto;
        }
        @include breakpoint("sm") {
            padding: 0 16px;
            max-width: calc(100% - 32px);
            margin: 50px auto 0px auto;
        }
        &-img {
            max-width: 316px;
            @include breakpoint("xs") {
                max-width: 153px;
                margin: 0 auto;
            }
            @include breakpoint("sm") {
                max-width: 253px;
                margin: 0 auto;
            }
            & img {
                max-width: 100%;
            }
        }
        & .border-img {
            max-width: 220px;
            &.small {
                max-width: 150px;
                @include breakpoint("xs") {
                    max-width: 68px;
                }
                @include breakpoint("sm") {
                    max-width: 68px;
                }
            }
            @include breakpoint("xs") {
                max-width: 86px;
            }
            @include breakpoint("sm") {
                max-width: 86px;
            }
        }
        & .desc {
            color: #343434;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: -1px;
            @include breakpoint("xs") {
                font-size: 14px;
                line-height: 14px;
                letter-spacing: -0.7px;
                text-align: center;
            }
            @include breakpoint("sm") {
                font-size: 14px;
                line-height: 14px;
                letter-spacing: -0.7px;
                text-align: center;
            }
        }
        & .play {
            color: #FE3152;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            @include breakpoint("xs") {
                font-size: 12px;
            }
            @include breakpoint("sm") {
                font-size: 12px;
            }
        }
        
    }
    & .mobile-app {
        background: #FFF0F3;
        padding-top: 64px;
        & img {
            max-width: 525px;
            width: 100%;
            @include breakpoint("xs") {
                max-width: 60%;
            }
            @include breakpoint("sm") {
                max-width: 70%;
            }
        }
        & .download {
            background: #FE3152;
            width: 100%;
            height: 274px;
            @include breakpoint("xs") {
                height: 146px;
            }
            @include breakpoint("sm") {
                height: 146px;
            }
            & .name {
                color: #FFF;
                font-size: 50px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -2.5px;
                margin-bottom: 23px;
                @include breakpoint("xs") {
                    font-size: 14px;
                    letter-spacing: -0.7px;
                    margin-bottom: 0px;
                }
                @include breakpoint("sm") {
                    font-size: 14px;
                    letter-spacing: -0.7px;
                    margin-bottom: 0px;
                }
                &.bold {
                    font-size: 55px;
                    font-weight: 700;
                    letter-spacing: -2.75px;
                    @include breakpoint("xs") {
                        font-size: 14px;
                        letter-spacing: -0.7px;
                    }
                    @include breakpoint("sm") {
                        font-size: 16px;
                        letter-spacing: -0.8px;
                    }
                }
            }
            & .app {
                & a {
                    cursor: pointer;
                    & img {
                        max-width: 175px;
                        @include breakpoint("xs") {
                            max-width: 96px;
                        }
                        @include breakpoint("sm") {
                            max-width: 96px;
                        }
                    }
                }
            }
        }
    }
    & .winner {
        padding: 46px 0;
        background: linear-gradient(122deg, #FFF -8.7%, #FFCFD7 71.81%);
        &.white-bg {
            background: #fff;
        }
        & .border-img {
            max-width: 100px;
            @include breakpoint("xs") {
                max-width: 60px;
            }
            @include breakpoint("sm") {
                max-width: 60px;
            }
        }
        & .earn {
            color: #343434;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            letter-spacing: -1.5px;
            @include breakpoint("xs") {
                font-size: 16px;
            }
            @include breakpoint("sm") {
                font-size: 16px;
            }
            &.bold {
                color: #FE3152;
            }
        }
        &-profile {
            max-width: 90%;
            @include breakpoint("xs") {
                margin-top: 27px;
            }
            @include breakpoint("sm") {
                margin-top: 27px;
            }
            &-area {
                position: relative;
                & .king {
                    max-width: 99px;
                    position: absolute;
                    top: -66px;
                    right: -40px;
                    @include breakpoint("xs") {
                        top: -35px;
                        right: -22px;
                        max-width: 60px;
                    }
                    @include breakpoint("sm") {
                        top: -35px;
                        right: -22px;
                        max-width: 60px;
                    }
                    & img {
                        width: 100%;
                        max-width: 99px;
                        @include breakpoint("xs") {
                            max-width: 60px;
                        }
                        @include breakpoint("sm") {
                            max-width: 60px;
                        }
                    }
                }
                & .user {
                    border-radius: 34px;
                    border: 5px solid #FE3152;
                    background: #FFE8EB;
                    min-height: 243px;
                    width: 100%;
                    overflow: hidden;
                    &.happy {
                        border-radius: 24px;
                        border: 1px solid #C1C1C1;
                        background: #FFF;
                        box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.15);
                        & img {
                            padding: 30px 0;
                            max-width: 60%;
                            height: auto;
                        }
                        & .desc {
                            max-width: 70%;
                            text-align: center;
                        }
                    }
                    @include breakpoint("xs") {
                        min-height: 122px;
                        border-radius: 10px;
                        border: 3px solid #FE3152;
                    }
                    @include breakpoint("sm") {
                        min-height: 122px;
                        border-radius: 10px;
                        border: 3px solid #FE3152;
                    }
                    &.active {
                        min-height: 338px;
                        background: #FFE8AD;
                        @include breakpoint("xs") {
                            min-height: 145px;
                        }
                        @include breakpoint("sm") {
                            min-height: 145px;
                        }
                        & img {
                            height: 300px;
                            @include breakpoint("xs") {
                                height: 120px;
                            }
                            @include breakpoint("sm") {
                                height: 120px;
                            }
                        }
                    }
                    & img {
                        height: 200px;
                        @include breakpoint("xs") {
                            height: 100px;
                        }
                        @include breakpoint("sm") {
                            height: 100px;
                        }
                    }
                }
                & .name {
                    color: #343434;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    @include breakpoint("xs") {
                        text-align: center;
                        font-size: 12px;
                        line-height: 15px; 
                        margin-top: 8px;
                    }
                    @include breakpoint("sm") {
                        text-align: center;
                        font-size: 12px;
                        line-height: 15px; 
                        margin-top: 8px;
                    }
                }
                & .desc {
                    color: #FE3152;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    @include breakpoint("xs") {
                        font-size: 10px;
                    }
                    @include breakpoint("sm") {
                        font-size: 10px;
                    }
                }
            }
        }
        & .out-of-qdo {
            & .desc {
                color: #343434;
                text-align: center;
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -1.2px;
            }
            & .title {
                color: #343434;
                font-size: 50px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                letter-spacing: -2.5px;
            }
        }
    }
    & .footer {
        background: #000;
        color: #fff;
        padding: 73px 91px;
        & .width {
            width: 66%;
            @include breakpoint("xs") {
                width: 100%;
            }
            @include breakpoint("sm") {
                width: 100%;

            }
        }
        & .divider {
            height: 1px;
            width: 100%;
            background-color: #fff;
        }
        & .help {
            color: #FFF;
text-align: center;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -1px;
        }
        & .swipe-happi {
            color: #FE3152;
text-align: center;
font-size: 42px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -2.1px;
        }
        & .swipe {
            color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.8px;
        }
        & .shopping {
            color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -1px;
        }
        a {
            cursor: pointer;
        }
        & .title {
            color: #FE3152;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: -1.5px;
        }
        & .menu {
            color: #FFF;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -1px;
& svg {
    margin-right: 12px;
}
        }
    }
}
.prod {
    max-width: 90%;
    width: 100%;
    margin: 0 auto 40px auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        display: none;
      }
    &uct {
        border-radius: 4px;
        background: #ECF2F7;
        width: fit-content;
        padding: 16px 24px;
        margin-bottom: 10px;
        cursor: pointer;
        &.active {
            border-radius: 4px;
            border: 1px solid #0078C9;
            background: #CBEAFF;
        }
        &-name {
            color: #7B8389;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%;
        }
    }
}
.hot-deals {
    background-color: #FFF0F3;
    padding: 30px 0;
    & .bullet {
        width: 90%;
        max-width: 90%;
        margin: 0 auto;
    }
}
.deal {
    padding-bottom: 42px;
    width: 100%;
    font-family: Poppins;
    font-size: 35px;
    font-weight: 700;
    line-height: 53px;
    letter-spacing: -0.05em;
    text-align: center;
    color: #FE3152;
& span {


    font-family: Poppins;
font-size: 30px;
font-weight: 500;
line-height: 45px;
letter-spacing: -0.05em;
text-align: center;
color: #343434;
}
&-slider {
max-width: 100%;
overflow-x: hidden;
padding-bottom: 20px;
// &::-webkit-scrollbar {
//     display: none;
//   }
&.ticket {
    width: 90%;
    max-width: 90%;
    margin: 0 auto;
    & .ticket-slider {
        min-width: calc(50% - 18px);
        width: calc(50% - 18px);
    }
}
}

&-poster {
    width: 375px;
    min-width: 375px;
    max-width: 375px;
    height: 375px;
    max-height: 375px;
    min-height: 375px;
    overflow: hidden;
    border-radius: 20px;
    & img{
        min-height: 100%;
        min-width: 100%;
        max-height: 100%;
    }
}
}
.brands-grid {
    padding-top: 42px;
    // padding-bottom: 100px;
    width: 100%;
    &.mb-50 {
        margin-bottom: 50px;
    }
    h3 {
    color: #343434;
    text-align: center;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -1.5px;
    margin-bottom: 58px;
    }
}

.brand-grid {
    max-width: 90%;
    width: 100%;
    margin: 0 auto;
    & .search {
        border-radius: 8px;
background: #FFF;
    }
    &-1 {
        width: calc(33.3% - 51px);
        height: 375px;
        flex-shrink: 0;
        border-radius: 24px;
        margin-bottom: 77px;
        border: 1px solid #C1C1C1;
        box-shadow: 0px -2px 2px 0px rgba(0, 0, 0, 0.15), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        &:nth-child(3n) {
            margin-right: 0 !important;
        }
        & .explore-more {
            color: #343434;
text-align: center;
font-family: Poppins;
font-size: 22px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -1.1px;
        }
    }
}
// .brand-grid-1-color{
//     background: #E50001;
// }
// .brand-grid-2-color {
//     background: #213140;
// }
// .brand-grid-3-color {
//     background: #282828;
// }
// .brand-grid-4-color {
//     background: #F41CB2;
// }
// .brand-grid-5-color {
//     background: #ff6f61;
// }
// .brand-grid-6-color {
//     background: #fef127;
// }
.brand-logo-main {
    width: 132px;
    height: 109px;
    // padding-top: 78.9px;
    flex-shrink: 0;
}
.brand-grid-footer {
    width: 375px;
    height: 131px;
    border-radius: 24px;
    background: #FFF;
    // margin-top: 56.1px;
    flex-shrink: 0;
    width: 100%;
        
}
.brand-footer-logo {
    width: 100%;
    padding: 0 36px;
        &-img {
        max-width: 63px;
        min-width: 63px;
        width: 63px;
        height: 63px;
        max-height: 63px;
        min-height: 63px;
        border-radius: 50%;
        overflow: hidden;
        & img {
            max-height: 31px;
            max-width: 100%;
        }
    }
    & h3,  & h4 {
        text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    text-align: left;
    }
    & h3 {
        color: #343434;
        font-family: Poppins;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -1.1px;
        margin: 0;
    }
    & h4 {
        color: #FE3152;
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: -0.9px;
        margin: 0;
    }
}
qdo365-ticket-hot-deals {
    width: 100%;
}