@import "../../../../assets/scss/mixins/breakpoint.scss";
@import "../../../../assets/scss/mixins/btn.scss";

.content {
    max-width: 292px;
    color: var(--dark-grey, #606060);
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 46px 83px;
    @include breakpoint("xs") {
        padding: 16px;
    }
    @include breakpoint("sm") {
        padding: 16px;
    }
}

.bold{
  padding: 0 10px;
  font-weight: bold;
}

button {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}
