@import '../../../../assets/scss/mixins/breakpoint.scss';
@import '../../../../assets/scss/scrollbar.scss';

.letter {
    background-color: #fff;
    padding: 30px;
    max-height: calc(100vh - 126px);
    overflow: auto;
    @extend .custom-scroll-thin;
    @include breakpoint("xs") {
        padding: 15px;
        max-height: calc(100vh - 72px);
    }
    @include breakpoint("sm") {
        padding: 15px;
        max-height: calc(100vh - 72px);
    }
    & h2 {
        @include breakpoint("xs") {
            font-size: 16px;
            line-height: 18px
        }
        @include breakpoint("sm") {
            font-size: 16px;
            line-height: 18px
        }
    }
    & p {
        @include breakpoint("xs") {
            font-size: 12px;
            line-height: 14px
        }
        @include breakpoint("sm") {
            font-size: 12px;
            line-height: 14px
        }
    }
    & .red {
        color: #FE3152;
    }
    & .bold {
        font-weight: 700;
    }
    & .italic {
        font-style: italic;
    }
}