<section class="quick" fxLayout="column" fxLayoutGap="60px">
    <div class="title" fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="center start" fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutGap="10px">
        <div class="title-second">More Brands  </div>
        <div class="title-first">like this!</div>
        
    </div>
    <div class="brand-grid" fxLayout="row wrap" fxLayout.xs="column" fxLayout.sm="column" fxLayoutGap="77px" fxLayoutAlign="start center" >
        <div class="brand-grid-1 quick" fxLayout="column" *ngFor="let number of [0,1,2,3,4,5]">
           <qdo365-product-quick-card></qdo365-product-quick-card>
        </div>
    </div>
</section>