<div fxLayout="column">
    <div class="quick-img" fxLayoutAlign="center center" fxFlex="262px">
        <img src="../../../../assets/images/home/deal/quick.png" class="brand-logo-main">
    </div>
    <div class="quick-img-text-offer" fxLayoutAlign="center center" fxFlex="auto">
        Hurry! Exclusive offer
    </div>
    <div class="brand-grid-footer" fxLayout="column" fxLayoutAlign="center start" fxFlex="111px">
        <div class="brand-footer-logo" fxLayout="row" fxLayoutGap="24px">
            <div class="brand-footer-logo-img" fxFlex="63px" fxLayout="column" fxLayoutAlign="center center">
                <img src="../../../../assets/images/brands/m-logo.svg">
            </div>
            <div fxFlex="auto" fxLayout="column" fxLayoutAlign="start start" >
                <h3 class="brand-nm">Fix My Curls</h3>
                <h4>Save Upto <span>15%</span> </h4>
            </div>
        </div>
    </div>
</div>