<div class="password-policy">
  <div
    [ngClass]="(passwordValidationRule.errors?.required) || (passwordValidationRule.errors?.maxlength || passwordValidationRule.errors?.minlength)?'text-danger' : 'text-success'">
    <span class="material-icons">
      <i *ngIf="passwordValidationRule.errors?.required || (passwordValidationRule.errors?.maxlength || passwordValidationRule.errors?.minlength)"
        class="fa fa-times-circle" aria-hidden="true"></i>
      <i *ngIf="!(passwordValidationRule.errors?.required || (passwordValidationRule.errors?.maxlength || passwordValidationRule.errors?.minlength))"
        class="fa fa-check-circle" aria-hidden="true"></i>
    </span> Contains minimum of {{formValidation.min_length.password}} and maximum of
    {{formValidation.max_length.password}} characters
  </div>
  <div
    [ngClass]="(passwordValidationRule.errors?.required || passwordValidationRule.errors?.hasNumber)?'text-danger' : 'text-success'">
    <span class="material-icons">
      <i *ngIf="passwordValidationRule.errors?.required || passwordValidationRule.errors?.hasNumber"
        class="fa fa-times-circle" aria-hidden="true"></i>
      <i *ngIf="!(passwordValidationRule.errors?.required || passwordValidationRule.errors?.hasNumber)"
        class="fa fa-check-circle" aria-hidden="true"></i>
    </span> Contains atleast 1 number.
  </div>
  <div
    [ngClass]="(passwordValidationRule.errors?.required || passwordValidationRule.errors?.hasCapitalCase)?'text-danger' : 'text-success'">
    <span class="material-icons">
      <i *ngIf="passwordValidationRule.errors?.required || passwordValidationRule.errors?.hasCapitalCase"
        class="fa fa-times-circle" aria-hidden="true"></i>
      <i *ngIf="!(passwordValidationRule.errors?.required || passwordValidationRule.errors?.hasCapitalCase)"
        class="fa fa-check-circle" aria-hidden="true"></i>
    </span> Contains atleast 1 uppercase.
  </div>
  <div
    [ngClass]="(passwordValidationRule.errors?.required || passwordValidationRule.errors?.hasSmallCase)?'text-danger' : 'text-success'">
    <span class="material-icons">
      <i *ngIf="passwordValidationRule.errors?.required || passwordValidationRule.errors?.hasSmallCase"
        class="fa fa-times-circle" aria-hidden="true"></i>
      <i *ngIf="!(passwordValidationRule.errors?.required || passwordValidationRule.errors?.hasSmallCase)"
        class="fa fa-check-circle" aria-hidden="true"></i>
    </span> Contains atleast 1 lowercase.
  </div>
  <div
    [ngClass]="(passwordValidationRule.errors?.required || passwordValidationRule.errors?.hasSpecialCharacters)?'text-danger' : 'text-success'">
    <span class="material-icons">
      <i *ngIf="passwordValidationRule.errors?.required || passwordValidationRule.errors?.hasSpecialCharacters"
        class="fa fa-times-circle" aria-hidden="true"></i>
      <i *ngIf="!(passwordValidationRule.errors?.required || passwordValidationRule.errors?.hasSpecialCharacters)"
        class="fa fa-check-circle" aria-hidden="true"></i>
    </span> Contains atleast 1 special character (!@#$%^&*).
  </div>
</div>
