@import "/src/assets/scss/variables.scss";
@import '/src/assets/scss/mixins/design-util.scss';
.instruction {
    position: relative;
    background-color: $qdo365-color-white;
    @include draw-border(thin, solid, $qdo365-color-gray-1);
    box-shadow: 0px 1px 3px $qdo365-color-boxshadow;
    // border: 1px solid $dh-color-gray;
    &::after {
        top: -28px;
        border-color: transparent transparent $qdo365-color-white transparent;
        border-width: 13px;
        left: 1152px !important;
    }
    &::before {
        top: -31px;
        border-color: transparent transparent $qdo365-color-gray-1 transparent;
        border-width: 15px;
    }
    &::after,
    &::before {
        content: '';
        display: block;
        position: absolute;
        left: 1150px;
        width: 0;
        height: 0;
        border-style: solid;
    }
}